// Fonts
%sf-300 {
    font-family: "SFProDisplay", sans-serif;
    font-weight: 300;
}
%sf-400 {
    font-family: "SFProDisplay", sans-serif;
    font-weight: 400;
}
%sf-500 {
    font-family: "SFProDisplay", sans-serif;
    font-weight: 500;
}
%sf-600 {
    font-family: "SFProDisplay", sans-serif;
    font-weight: 600;
}
%sf-700 {
    font-family: "SFProDisplay", sans-serif;
    font-weight: 700;
}
%barlow-400 {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
}
%barlow-700 {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
}

// Colors
$primary-color: #2f3035;
$secondary-color: #1c62cd;
$gray: #f0f0f4;
$light-gray: #C4C4C4;