body {
  font-family: "SFProDisplay", sans-serif;
  font-weight: 400;
}

.basket__num {
  font-family: "SFProDisplay", sans-serif;
  font-weight: 500;
}

.products__tabs .products__tab.tab--active {
  font-family: "SFProDisplay", sans-serif;
  font-weight: 600;
}

.products-item__notify-text, .search__content-btn, .search__tabs-item.tab--active, .sale-item__title, .header__top-inner {
  font-family: "SFProDisplay", sans-serif;
  font-weight: 700;
}

.sale-item__price-old {
  font-family: "Barlow";
  font-weight: 400;
}

.products-item__price, .products__title, .categories__item-title, .sale-item__footer span, .sale-item__price-new {
  font-family: "Barlow";
  font-weight: 700;
}

@font-face {
  font-family: "SFProDisplay", sans-serif;
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "SFProDisplay", sans-serif;
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "SFProDisplay", sans-serif;
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "SFProDisplay", sans-serif;
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
/* barlow-300 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/barlow-v5-latin-300.woff2") format("woff2"), url("../fonts/barlow-v5-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-regular - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/barlow-v5-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v5-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-600 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/barlow-v5-latin-600.woff2") format("woff2"), url("../fonts/barlow-v5-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-700 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/barlow-v5-latin-700.woff2") format("woff2"), url("../fonts/barlow-v5-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: inline-block !important;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 300px;
  font-size: 20px;
  line-height: 24px;
  color: #2f3035;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-section {
  margin-bottom: 80px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 122px;
}
.header__box {
  display: flex;
  align-items: center;
}
.header__address {
  margin-right: 15px;
  padding-left: 30px;
  width: 265px;
  position: relative;
}
.header__address::before {
  content: "";
  position: absolute;
  background-image: url("../images/address-ico.svg");
  background-repeat: no-repeat;
  left: 0;
  top: 8px;
  width: 30px;
  height: 30px;
}
.header .user-list {
  margin-right: 15px;
}
.header .user-list__item {
  display: inline-block;
  padding-right: 10px;
}
.header__bottom {
  margin-bottom: 80px;
}
.header-categories {
  background-color: #f0f0f4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 53px;
}
.header-categories__link {
  transition: all 0.3s;
  padding: 15px 0 14px;
  position: relative;
}
.header-categories__link::after {
  content: "";
  position: absolute;
  width: 0;
  left: auto;
  right: 0;
  bottom: -4px;
  background-color: #1c62cd;
  height: 3px;
  transition: all 0.3s;
}
.header-categories__link:hover {
  text-shadow: -0.25px -0.25px 0 #2f3035, 0.25px -0.25px 0 #2f3035, -0.25px 0.25px 0 #2f3035, 0.25px 0.25px 0 #2f3035;
}
.header-categories__link:hover::after {
  width: 100%;
  right: auto;
  left: 0;
}

.menu__item {
  display: inline-block;
}
.menu__item + .menu__item {
  padding-left: 50px;
}

.basket {
  position: relative;
}
.basket__num {
  position: absolute;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  color: #fff;
  background-color: #1c62cd;
  border-radius: 50%;
  text-align: center;
  bottom: -2px;
  right: -14px;
}

.banner-section__inner {
  display: flex;
  justify-content: space-between;
}

.banner-section__slider-btn,
.products-slider__slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 5;
  outline: none;
  cursor: pointer;
}

.banner-section__slider {
  max-width: 870px;
}
.banner-section__slider-img {
  object-fit: cover;
  min-height: 400px;
}
.banner-section__slider-btnprev {
  left: 20px;
}
.banner-section__slider-btnnext {
  right: 20px;
}
.banner-section__slider .slick-dots {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
}
.banner-section__slider .slick-dots li {
  display: inline-block;
  padding: 0 5px;
}
.banner-section__slider .slick-dots li.slick-active button {
  background-color: #fff;
}
.banner-section__slider .slick-dots li button {
  padding: 0;
  font-size: 0;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: transparent;
}

.sale-item {
  max-width: 265px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sale-item__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.sale-item__info {
  color: #fff;
  background-color: #1c62cd;
  padding: 8px 20px;
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.sale-item__price-new {
  position: relative;
  font-size: 27px;
  text-align: right;
  line-height: 32px;
  color: #1c62cd;
  padding-right: 21px;
}
.sale-item__price-new::after {
  position: absolute;
  content: "";
  background-image: url("../../images/dollar.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 18px;
  right: 3px;
  top: 8px;
}
.sale-item__price-old {
  position: relative;
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
  display: inline-block;
  padding: 2px 5px;
  background-repeat: no-repeat;
  background-image: url("../../images/old-line.svg");
}
.sale-item__price-old::after {
  position: absolute;
  content: "";
  background-image: url("../../images/dollar-small.svg");
  background-repeat: no-repeat;
  width: 7px;
  height: 13px;
  right: -15px;
  bottom: 4px;
}
.sale-item__img {
  object-fit: contain;
}
.sale-item__title {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 7px;
}
.sale-item__footer {
  background-color: #f0f0f4;
  font-size: 18px;
  line-height: 21px;
  padding: 25px 20px;
}
.sale-item__footer span {
  font-size: 18px;
  line-height: 22px;
  color: #1c62cd;
}

.search__tabs {
  margin-bottom: 25px;
}
.search__tabs-item {
  padding: 11px 26px 12px;
}
.search__tabs-item.tab--active {
  border-radius: 5px;
  background-color: #f0f0f4;
}

.tabs-content {
  display: none;
}
.tabs-content.tabs-content--active {
  display: block;
}

.search__content-form {
  display: flex;
}
.search__content-input {
  background-color: #f0f0f4;
  border-radius: 3px;
  border: none;
  padding: 5px 20px;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
}
.search__content-input::placeholder {
  color: #656464;
}
.search__content-btn {
  color: #fff;
  background-color: #1c62cd;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  padding: 17px 40px 16px;
  margin-left: -3px;
}

.categories__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.categories__item {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  height: 129px;
  transition: all 0.2s;
}
.categories__item:hover {
  border: 1px solid #fff;
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}
.categories__item:hover .categories__item-title {
  color: #1c62cd;
}
.categories__item-info {
  width: 50%;
  padding: 20px 0 16px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.categories__item-title {
  font-size: 23px;
  line-height: 28px;
  transition: all 0.2s;
}
.categories__item-text {
  color: #c4c4c4;
  font-size: 14px;
  line-height: 17px;
  position: relative;
  padding-right: 9px;
}
.categories__item-text::after {
  content: "";
  position: absolute;
  background-image: url("../../images/link-arrow.svg");
  right: 0;
  bottom: 4px;
  width: 6px;
  height: 9px;
}
.categories__item-img {
  text-align: center;
  width: 50%;
  padding: 0px 5px 0px 0px;
}
.categories__item-img img {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.products__title {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 25px;
}

.products__tabs {
  margin-bottom: 25px;
}
.products__tabs .products__tab {
  font-size: 15px;
  line-height: 18px;
  padding-bottom: 10px;
}
.products__tabs .products__tab + .products__tab {
  margin-left: 50px;
}
.products__tabs .products__tab.tab--active {
  border-bottom: 2px solid #1c62cd;
}

.products-item__wrapper {
  position: relative;
  width: 271px;
}

.products-item {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  padding: 52px 20px 31px;
  width: 100%;
  min-height: 403px;
  transition: all 0.3s;
}
.products-item:hover {
  border: 1px solid #fff;
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}
.products-item:hover .products-item__hover-text {
  opacity: 1;
}
.products-item:hover .products-item__price,
.products-item:hover .products-item__title,
.products-item:hover .products-item__notify-text {
  color: #1c62cd;
}
.products-item__favorite {
  position: absolute;
  top: 16px;
  right: 19px;
  width: 24px;
  height: 22px;
  background-color: transparent;
  border: none;
  z-index: 5;
  cursor: pointer;
  outline: none;
}
.products-item__favorite::before {
  content: "";
  position: absolute;
  background-image: url("../../images/favorite.svg");
  width: 24px;
  height: 22px;
  top: 0;
  left: 0;
}
.products-item__favorite--active::before {
  background-image: url("../../images/favorite-active.svg");
}
.products-item__img {
  height: 200px;
}
.products-item__img img {
  object-fit: contain;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}
.products-item__title {
  padding: 14px 0 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  transition: all 0.3s;
  min-height: 81px;
}
.products-item__price {
  font-size: 30px;
  line-height: 36px;
  transition: all 0.3s;
}
.products-item__basket {
  position: absolute;
  background-color: #1c62cd;
  color: #fff;
  width: 60px;
  height: 40px;
  border-radius: 10px 0px 0px 0px;
  bottom: 0;
  right: 0;
  padding-top: 7px;
  border: none;
  cursor: pointer;
  z-index: 5;
}
.products-item__hover-text {
  padding: 18px 21px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  position: absolute;
  top: 30%;
  left: 20px;
  right: 20px;
  display: inline-block;
  opacity: 0;
  transition: all 0.3s;
  z-index: 5;
}
.products-item--sale::before {
  content: "SALE";
  padding: 8px 15px;
  background-color: #1c62cd;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
}
.products-item__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 82px;
  align-items: flex-center;
}
.products-item__notify-text {
  display: none;
  font-size: 18px;
  line-height: 21px;
}
.products-item__notify-link {
  display: none;
}

.products-item__wrapper.products-item__not-available .products-item__title {
  padding-bottom: 0;
}
.products-item__wrapper.products-item__not-available .products-item__price {
  display: none;
}
.products-item__wrapper.products-item__not-available .products-item__notify-link {
  display: block;
  position: absolute;
  bottom: 20px;
  text-align: center;
  color: #1c62cd;
  font-size: 16px;
  line-height: 19px;
  left: 0;
  right: 0;
}
.products-item__wrapper.products-item__not-available .products-item__notify-link span {
  border-bottom: 1px solid #1c62cd;
}
.products-item__wrapper.products-item__not-available .products-item__notify-text {
  display: block;
}
.products-item__wrapper.products-item__not-available .products-item__basket {
  display: none;
}

.products-slider__slider-btnprev {
  left: -40px;
}

.products-slider__slider-btnnext {
  right: -40px;
}

.products__more-btn {
  margin-top: 35px;
  text-align: center;
}
.products__more-btn .products__more-link {
  background-color: #f0f0f4;
  padding: 16px 50px;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.12em;
}