.aside-filter {
    min-width: 290px;
    margin-right: 30px;
    &__tabs {
        display: flex;
        justify-content: space-between;
    }
    &__tab {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: #c4c4c4;
        width: 50%;
        &.tab--active {
            @extend %sf-700;
            color: #2f3035;
            span {
                display: inline-block;
                border-bottom: 2px solid $secondary-color;
                padding-bottom: 7px;
            }
        }
    }
    &__item-drop {
        margin: 40px 0;
    }
    &__item-list {
        margin: 50px 0 40px;
    }
    &__item-btn {
        text-align: center;
    }
    &__item-title {
        @extend %sf-600;
        font-size: 16px;
        line-height: 19px;
        padding-left: 26px;
        user-select: none;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 10px;
        &-radio {
            flex-wrap: nowrap;
            .aside-filter__content-box {
                width: auto;
            }
        }
        &-label {
            font-size: 14px;
            line-height: 17px;
            cursor: pointer;
            transition: all 0.2s;
            &:hover {
                color: $secondary-color;
            }
        }
        &-box {
            width: 50%;
            margin-bottom: 10px;
        }
    }
}

.jq-checkbox,
.jq-radio {
    vertical-align: -2px;
    margin: 0 8px 0 0;
    width: 14px;
    height: 14px;
    box-shadow: none;
    background: #fff;
    border: 1px solid $dark-gray;
    border-radius: 0;

    &.checked {
        background: $secondary-color;
        & .jq-checkbox__div {
            border-bottom: none;
            border-left: none;
            width: 8px;
            height: 6px;
            margin: 3px 0 0 2.5px;
            transform: rotate(0);
            background-image: url("../images/checked-ico.svg");
        }
    }
}

.jq-radio.checked .jq-radio__div {
    border-bottom: none;
    border-left: none;
    width: 0;
    height: 0;
    transform: rotate(0);
    background: transparent;
    box-shadow: none;
}

.irs--flat {
    width: 100%;
    margin-top: -15px;
}
.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
    display: none;
}
.irs--flat .irs-min,
.irs--flat .irs-max {
    top: 55px;
    padding: 0;
    color: $primary-color;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    text-shadow: none;
    background-color: transparent;
    border-radius: 0;
    @extend %barlow-400;
    visibility: visible !important;
    padding-left: 27px;
}
.irs--flat .irs-min {
    padding-left: 43px;
}
.irs-min::before,
.irs-max::before {
    position: absolute;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: none;
    color: $dark-gray;
    left: 0;
}
.irs-min::before {
    content: "from";
}
.irs-max::before {
    content: "to";
}
.irs--flat .irs-line {
    top: 25px;
    height: 1px;
    background-color: #e0e0e0;
    border-radius: 4px;
}
.irs--flat .irs-bar {
    top: 25px;
    height: 3px;
    background-color: $secondary-color;
}
.irs--flat .irs-handle {
    top: 22px;
    width: 8px;
    height: 8px;
    background-color: $secondary-color;
    border-radius: 50%;
}
.irs--flat .irs-handle > i:first-child,
.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    background-color: transparent;
}

.filter__item {
    &-drop {
        position: relative;
        cursor: pointer;
        &::before {
            content: "";
            position: absolute;
            background-image: url("../images/drop-down.svg");
            left: 0;
            bottom: 5px;
            width: 12px;
            height: 8px;
        }
        &.filter__item-drop--active,
        &.filter__extra.filter__item-drop--active {
            &::before {
                transform: rotate(-180deg);
            }
        }
    }
    .filter__item-drop--active {
        &.filter__item-drop::before {
            transform: rotate(-180deg);
        }
    }
    &-list {
        border-bottom: 1px solid $dark-gray;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }
    &-listtitle {
        font-size: 16px;
        line-height: 19px;
        @extend %sf-600;
        padding-bottom: 14px;
        padding-left: 26px;
    }
    &-listselect {
        font-size: 14px;
        line-height: 17px;
        color: #48494d;
        @extend %barlow-400;
    }
}

.filter-more {
    margin-top: 6px;
    width: 100%;
    &__btn {
        border: none;
        border-bottom: 1px solid $secondary-color;
        background-color: transparent;
        color: $secondary-color;
        font-size: 14px;
        line-height: 17px;
        padding: 0;
    }
}
.filter-search {
    width: 100%;
    height: 30px;
    border: 1px solid #e0e0e0;
    font-size: 12px;
    line-height: 14px;
    padding: 0 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    &::placeholder {
        color: #bdbec2;
    }
}

.btn-checked {
    .aside-filter__content {
        flex-wrap: nowrap;
        &-box {
            width: auto;
        }
    }
    .aside-filter__content-label {
        display: inline-block;
    }
    .jq-checkbox,
    .jq-radio {
        position: absolute;
        z-index: -1;
        margin: 0;
        padding: 0;
        border: none;
        opacity: 0;
        &.checked {
            & + .btn-checked__text {
                background: $secondary-color;
                color: #fff;
            }
        }
    }
    .jq-checkbox.checked .jq-checkbox__div,
    .jq-radio.checked .jq-checkbox__div {
        display: none;
    }
    &__text {
        top: 4px;
        left: 5px;
        z-index: 5;
        color: $dark-gray;
        @extend %sf-700;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.07em;
        padding: 0.375rem 0.9375rem;
        background: $gray;
        transition: all 0.2s;
    }
}
.jq-checkbox.filter-style,
.jq-radio.filter-style {
    transition: all 0.2s;
}

.filter-btn {
    &__select {
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        background-color: $secondary-color;
        transition: all 0.2s;
        border: none;
        padding: 16px 85px;
        cursor: pointer;
        margin-bottom: 15px;
        color: #fff;
        transition: all .3s;
        &:hover {
            background-color: $primary-color;
        }
    }
    &__reset {
        display: block;
        font-size: 13px;
        line-height: 16px;
        margin: 0 auto;
        background-color: transparent;
        border: none;
        color: $dark-gray;
        border-bottom: 1px solid $dark-gray;
    }
}
.filter__extra {
    font-size: 13px;
    line-height: 16px;
    position: relative;
    padding-right: 29px;
    display: inline-block;
    margin-bottom: 15px;
    &::before {
        content: "";
        position: absolute;
        width: 12px;
        height: 8px;
        right: 0;
        top: 4px;
        left: unset;
        background-image: url("../images/drop-down.svg");
    }
    &-content {
        display: none;
        margin-bottom: 15px;
    }
}
.jq-selectbox__select {
    height: 32px;
    padding: 0 30px 0 10px;
    border: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
}
.jq-selectbox__trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 100%;
    border-left: none;
}
.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 12px;
    height: 8px;
    border: none;
    background-image: url("../images/drop-down.svg");
}
.jq-selectbox__select:hover,
.jq-selectbox__select:active {
    background: transparent;
    box-shadow: none;
}
.jq-selectbox.focused .jq-selectbox__select {
    border: none;
}
.jq-selectbox li:hover {
    background-color: rgba(107, 126, 172, 0.05);
    color: rgba(0, 0, 0, 0.6);
}
.jq-selectbox li {
    color: rgba(0, 0, 0, 0.6);
    border-radius: 3px;
}
.jq-selectbox li.selected {
    background-color: rgba(107, 126, 172, 0.05);
    color: rgba(0, 0, 0, 0.6);
}
.jq-selectbox__dropdown {
    box-sizing: border-box;
    width: 100%;
    margin: 2px 0 0;
    border: 1px solid #e0e0e0;
    border-radius: 0;
    background: #fff;
    box-shadow: none;
    font: 14px/18px SFProDisplay, sans-serif;
    font-weight: 400;
}
.aside__btn {
    display: none;
}