@media (max-width: 1200px) {
    .banner-section__inner {
        justify-content: space-around;
        margin-top: 25px;
    }
    .banner-section__slider {
        max-width: 640px;
    }
    .banner-section__slider-img {
        max-width: 640px;
    }
}
@media (max-width: 1100px) {
    .header__address {
        width: 208px;
    }
}
@media (max-width: 1024px) {
    .menu__item + .menu__item {
        padding-left: 20px !important;
    }
    .header__address {
        margin-right: 5px;
    }
}
@media (max-width: 900px) {
    .header__bottom {
        display: none;
    }
    .menu__list {
        display: none;
    }
    .menu__btn {
        display: block;
    }
    .menu__btn-line {
        display: block;
    }
    .menu-mobile__line-wrapper {
        display: block;
    }
    .banner-section__inner {
        justify-content: center;
        flex-wrap: wrap;
    }
    .banner-section__slider {
        max-width: 100%;
        margin-bottom: 30px;
    }
    .banner-section__slider-img {
        max-width: 100%;
        min-height: 300px;
    }
}
@media (max-width: 640px) {
    .banner-section__slider-btn {
        display: none !important;
    }
    .banner-section__slider-img {
        min-height: 200px;
    }
    .banner-section__inner {
        margin-left: -15px;
        margin-right: -15px;
    }
}
@media (max-width: 550px) {
    .header__address {
        display: none;
    }
    .logo__img {
        display: none;
    }
    .logo__img-mobile {
        display: inline-block;
    }
    .banner-section__slider-img {
        min-height: 164px;
    }
}
