@media (max-width: 1200px) {
    .banner-section__inner {
        justify-content: space-around;
        margin-top: 25px;
    }
    .banner-section__slider {
        max-width: 640px;
    }
    .banner-section__slider-img {
        max-width: 640px;
    }
    .products__more-btn {
        margin-top: 73px;
    }
    .products-slider {
        .slick-dots {
            display: block;
        }
    }
    .products-item__wrapper {
        margin: 0 auto;
    }
    .catalog__inner .catalog-product {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 1100px) {
    .header__address {
        width: 208px;
    }
}
@media (max-width: 1024px) {
    .menu__item + .menu__item {
        padding-left: 20px !important;
    }
    .header__address {
        margin-right: 5px;
    }
}
@media (max-width: 900px) {
    .header__bottom {
        display: none;
    }
    .menu__list {
        display: none;
    }
    .menu__btn {
        display: block;
    }
    .menu__btn-line {
        display: block;
    }
    .menu-mobile__line-wrapper {
        display: block;
    }
    .menu__item {
        font-size: 17px;
        line-height: 19px;
    }
    .banner-section__inner {
        justify-content: center;
        flex-wrap: wrap;
    }
    .banner-section__slider {
        max-width: 100%;
        margin-bottom: 30px;
    }
    .banner-section__slider-img {
        max-width: 100%;
        min-height: 300px;
    }
    .mobile-tabs,
    .breadcrumbs__inner,
    .catalog__filter-inner {
        overflow-x: scroll;
        display: flex;
        white-space: nowrap;
    }
    .categories__inner {
        grid-template-columns: repeat(2, 1fr);
    }
    .products-slider .slick-dots li {
        padding: 0 10px;
    }
    .footer__top-inner {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer__top-item {
        margin: 0 10px;
    }
    .footer__top-social {
        margin-top: 30px;
    }
    .footer__top-newslatter {
        margin-bottom: 41px;
    }
    .catalog__inner .catalog-product {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 700px) {
    .catalog__filter{
        display: block;
    }
    .catalog__filter-btn {
        margin-top: 25px;
    }
    .catalog__filter {
        margin-bottom: 35px;
    }
}
@media (max-width: 640px) {
    .banner-section__slider-btn {
        display: none !important;
    }
    .banner-section__slider-img {
        min-height: 200px;
    }
    .banner-section__inner {
        margin-left: -15px;
        margin-right: -15px;
    }
    .search__content-form {
        display: block;
        position: relative;
    }
    .search__content-input {
        height: 50px;
        padding-right: 50px;
    }
    .search__content-btn {
        background-color: transparent;
        position: absolute;
        font-size: 0;
        padding: 0;
        margin-left: 0;
        background-image: url("../../images/search-mobile.svg");
        right: 15px;
        background-repeat: no-repeat;
        top: 50%;
        transform: translateY(-50%);
        z-index: 6;
        width: 24px;
        height: 24px;
    }
    .categories__inner {
        grid-template-columns: repeat(1, 1fr);
    }
    .products__tabs .products__tab + .products__tab {
        margin-left: 30px;
    }
    .footer__top-newslatter,
    .footer__top-social {
        min-width: 100%;
    }
    .social-list {
        justify-content: center;
    }
    .catalog__inner {
        flex-wrap: wrap;
    }
    .catalog__inner .catalog-product {
        grid-template-columns: repeat(2, 1fr);
    }
    .aside__btn {
        display: block;
        text-transform: uppercase;
        padding: 15px 0;
        width: 100%;
        text-align: center;
        background-color: $secondary-color;
        color: #fff;
        border-radius: 3px;
        margin-bottom: 30px;
        font-size: 18px;
        letter-spacing: 0.8px;
        border: none;
        &:hover {
            box-shadow: 0.1875rem 0.1875rem 0.625rem rgb(50 50 50 / 25%);
        }
    }
    .aside-filter__tabs {
        justify-content: center;
    }
    .aside-filter__tab {
        width: auto;
        & + .aside-filter__tab {
            margin-left: 40px;
        }
    }
    .aside-filter {
        display: none;
        width: 100%;
    }
}
@media (max-width: 600px) {
    .slick-dots {
        margin-right: -15px;
        margin-left: -15px;
    }
    .products-slider .slick-dots li {
        padding: 0px 7px;
    }
    .catalog__inner .catalog-product {
        grid-template-columns: repeat(1, 1fr);
    }
    .catalog__filter-button {
        display: none;
    }
}
@media (max-width: 550px) {
    .header__address {
        display: none;
    }
    .logo__img {
        display: none;
    }
    .logo__img-mobile {
        display: inline-block;
    }
    .banner-section__slider-img {
        min-height: 164px;
    }
}
@media (max-width: 440px) {
    .products__title {
        text-align: center;
    }
    .banner {
        text-align: center;
    }
    .banner__img-desktop {
        display: none;
    }
    .banner__img-mobile {
        display: block;
    }
    .footer__bottom-link + .footer__bottom-link {
        margin-left: 50px;
    }
    .footer__title {
        text-align: center;
    }
}
@media (max-width: 380px) {
    .footer__top-item {
        min-width: 100%;
    }
    .footer-list {
        display: none;
        margin-bottom: 5px;
    }
    .footer__top-title {
        padding: 15px 0;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 12px;
            height: 8px;
            right: 12px;
            top: 43%;
            background-image: url("../../images/drop-down.svg");
            background-repeat: no-repeat;
        }
    }
    .footer__top-title--active {
        &::after {
            transform: rotate(180deg);
        }
    }
    .footer__top-item-drop {
        border-bottom: 1px solid #949494;
    }
    .footer__top-item-first {
        border-top: 1px solid #949494;
    }
}
